<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self' ; connect-src 'self'; img-src 'self'; style-src 'self' https://fonts.googleapis.com ; font-src 'self' https://fonts.gstatic.com">
        <title>OAuth Handler</title>
        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600">
    </head>
    <body>
        <div class="content">
            <h1 class="title">OAuth Handler</h1>
            {{#if session.login}}
                <p>You're already logged in, {{session.login}}</p>
                {{#if session.memberships}}
                    <p>Your memberships:</p>
                    <ul>
                        {{#each session.memberships as |teams org|}}
                            <li>{{org}}
                                <ul>
                                    {{#each teams as |team|}}
                                        <li>{{team}}</li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                    </ul>
                {{else}}
                    <p>You don't seem to have any memberships</p>
                {{/if}}
                <p><a href="/logout">Click here</a> to log out</p>
            {{else}}
                <a href="/auth">Click here to log in</a>
            {{/if}}
        </div>
    </body>
</html>
